<div  class="container suggestions-container">
  <form class="suggestions">
    <div class="row">
      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon" id="ingredient1">#1</span>
          <input #ingredient1 type="text" class="form-control"
          placeholder="Ingredient" aria-describedby="ingredient1">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon" id="ingredient1">#2</span>
          <input #ingredient2 type="text" class="form-control"
          placeholder="Ingredient" aria-describedby="ingredient1">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon" id="ingredient1">#3</span>
          <input #ingredient3 type="text" class="form-control"
          placeholder="Ingredient" aria-describedby="ingredient1">
        </div>
      </div>
    </div>
    <div class="row submit-row">
      <button
        type="button"
        class="btn btn-default"
        (click)="getSuggestions(ingredient1.value, ingredient2.value, ingredient3.value)"
        >
        Get suggestions
      </button>
  </div>
  </form>
</div>
<div *ngIf="recipes && recipes.length" class="app-recipes" >
  <app-recipe-detail [selectedRecipe]="selectedRecipe"></app-recipe-detail>
  <h3>{{selectedRecipe?.name}}</h3>
  <section class='recipe-list-holder'>
    <app-recipe-list [recipes]="recipes" class='scroll-me' (recipeSelected)="selectedRecipe=$event"> </app-recipe-list>
  </section>
</div>
