
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
  display: block;
  float: left;
  background-color: #cc51c23 !important;
  width: 100%;
  background: #9ac0cd;
  color: #fff;
  font-size: 200%;
  padding: 10px 15px;
}
