<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.image_url}}"
        alt=""
        width="200"
        height="200"
        class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.id}}</p>
    <span class="time">{{selectedRecipe?.cost}}</span>
    <span class="cost">{{selectedRecipe?.difficulty}}</span>
    <span class="cost">{{selectedRecipe?.time}}</span>
  </div>
</div>
