<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}"
        alt=""
        width="200"
        height="200"
        class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <!-- <button class="btn btn-success">To Shopping List</button> -->
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
    <span class="time">{{selectedRecipe?.time}}</span>
    <span class="cost">{{selectedRecipe?.cost}}</span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
