body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #000000;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 20px;
}

h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
  color: #fff;
}

h3 {
  color: blue;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
  border: solid #888 1px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin: 0 auto;
  margin-top: 80px;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
  background-color: #001F3F;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

input {
  color: #000;
}
