<a href="#" >
  <div [ngStyle]="{
      'background-image':
      'linear-gradient(to bottom, rgba(0,0,0,0), black),
      url(' + recipe.image_url + ')'}"
    class="recipe-card">
      <h5>{{recipe.name}}</h5>
      <!-- <p class="list-group-item-text">{{recipe.description}}</p> -->
      <!-- <span class="id">{{recipe.id}}</span> -->
      <!-- <span class="cost">{{recipe.cost}}</span>
      <span class="time">{{recipe.time}}</span>
      <span class="difficulty">{{recipe.difficulty}}</span> -->
  </div>
</a>
