/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
}

html, body {
	background-color:#001f3f;
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}

app-root {
	min-height: 100%;
	height: 100%;
	width: 100%;
}

.recipe-card {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-width: 100%;
	height: 100%;
}

app-recipe-list {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

div.list-items {
	display:flex;
	margin-right:15px;
}

app-recipe-item {
	height:250px;
	width:330px;
	border-radius: 8px;
  overflow: hidden;
}

section.recipe-list-holder {
	position: relative;
}

app-recipe-item a {
	display: block;
	height:100%;
}

app-recipe-item h5 {
	color:white;
	font-size: 1.2em;
	margin-bottom: 0;
	margin-top: 0;
}

::-webkit-scrollbar {
    display: none;
}

app-header {
  float: left;
  width: 100%;
  background: #111111;
  color: #fff;
  font-size: 200%;
}

.navbar-brand {
	color:#fff;
	font-size:1em;
}

.navbar {
	margin-bottom:0;
}

app-recipes .col-xs-12 {
	display:block;
	float:left;
	width:100%;
}

span.arrow-left,
span.arrow-right {
    display: block;
    position: absolute;
    background-color: #555;
    color:white;
    z-index: 2;
    cursor: pointer;
}

span.arrow-left {
    left: 0px;
}

span.arrow-right {
    right: 0px;
}

span.arrow-left:hover,
span.arrow-right:hover{
    background-color: #333;
}

app-recipe-detail {
	color: #fff;
	position: absolute;
	width: 100%;
	display: inline-block;
	height: 100%;
}

app-recipes h3 {
	position: relative;
	z-index: 9;
	font-size: 8rem;
	color: white;
	margin-left: 15px;
	margin-bottom: 25px;
}

app-recipes {
	float: left;
	height: calc(100vh - 110px);
	position:relative;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.container {
	margin:0;
	padding:0;
}

app-footer  {
	background: #111;
  display: block;
	color: #fff;
  float: left;
	font-size: 200%;
	padding: 10px 15px 0 0;
  width: 100%;
}

div.bg-image {
	height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

app-footer p {
	margin:0;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 20px;
    background: #111;
    color: #fff;
    font-size: 19px;
}

@media (min-width: 768px) {
	.navbar-form {
		float:right !important;
	}
}

@media (min-width:1200px) {
	.container {
		width:100%;
	}
}
