/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
}

html, body {
	background-color:black;
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}

app-root {
	min-height: 100%;
	height: 100%;
	width: 100%;
}

.recipe-card {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-width: 100%;
	height: 100%;
}
.recipe-card h5 {
	font-size: 1.3em;
	left: 10px;
	position: relative;
	top:73%;
}

app-recipe-list {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
	padding:0 100px;
}

div.list-items {
	display:flex;
	margin-right:15px;
}

app-recipe-item {
	height:250px;
	width:330px;
	border-radius: 8px;
  overflow: hidden;
}

section.recipe-list-holder {
	margin-bottom: 2%;
	position: relative;
}

app-recipe-item a {
	display: block;
	height:100%;
}

app-recipe-item h5 {
	color:white;
	font-size: 1.2em;
	margin-bottom: 0;
	margin-top: 0;
}

::-webkit-scrollbar {
    display: none;
}

.sb-search-submit {
	padding:0;
	background-color: transparent;
	border-color:none;
	border:none;
	border-radius: 0;
  height: 39px;
  width: 46px;
}
.sb-search-submit:hover,
.sb-search-submit:focus {
	background-color: #001f3f;
	border:2px solid #fff;
}

img.search-button {
	height:36px;
	width:36px;
}

app-header {
  float: left;
  width: 100%;
  background: #111111;
  color: #fff;
  font-size: 200%;
}

.navbar-brand {
	color:#fff;
	font-size:1em;
	padding-top:2px;
}

img.recipe-book {
	display: inline-block;
	float:left;
	height:50px;
	margin-top: 5px;
	margin-right: 10px;
}
span#cookit {
	left: -8px;
	position: relative;
  top: 14px;
}

.navbar {
	margin-bottom:0;
}

app-recipes .col-xs-12 {
	display:block;
	float:left;
	width:100%;
}

span.arrow-left,
span.arrow-right {
  display: block;
  position: absolute;
  z-index: 2;
  cursor: pointer;
	text-align: center;
	width: 80px;
	padding-top:60px;
}
span.arrow-left img,
span.arrow-right img {
	height:90px;
	transition: background .5s ease-out;
}
span.arrow-right {
	right:0;
	background: linear-gradient(to left, black, rgba(0,0,0,0));
}
span.arrow-left {
  left:0;
	background: linear-gradient(to right, black, rgba(0,0,0,0));
}

span.arrow-left:hover{
	background: linear-gradient(to right, #333, rgba(0,0,0,0));
}
span.arrow-right:hover{
  background: linear-gradient(to left, #333, rgba(0,0,0,0));
}

app-recipe-detail {
	color: #fff;
	position: absolute;
	width: 100%;
	display: inline-block;
	height: 100%;
}

.navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 20px;
  background: #111;
  color: #fff;
  font-size: 19px;
}

.navbar-nav>li>.dropdown-menu {
	background-color:#001f3f;
}
.dropdown-menu>li>a {
	color:#fff;
	font-size:1.3em;
	padding:8px 50px;
}
.navbar {
	border:none;
}
.dropdown-menu {
	border:none;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #001f3f;
  border-color: #337ab7;
}
.nav>li>a:focus,
.nav>li>a:hover {
	padding-bottom:24px;
}

/*  search element */




/*  END search element */

.app-recipes h3 {
	position: relative;
	z-index: 9;
	font-size: 8rem;
	color: white;
	margin-left: 6%;
	margin-bottom: 25px;
}

.app-recipes {
	float: left;
	height: calc(100vh - 64px);
	position:relative;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

app-footer  {
	background: #111;
	color: #fff;
  display: block;
  float: left;
	font-size: 200%;
	padding: 10px 15px 0 0;
  width: 100%;
}

div.bg-image {
	height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

app-footer p {
	margin:0;
}

@media (min-width: 768px) {
	.navbar-form {
		float:right !important;
	}
	.navbar-form .form-group {
		margin-bottom: 5px;
		width:240px;
	}
	.navbar-form .form-control {
    background: #111111;
		border-radius: 0;
    border-width: 2px;
    font-weight: bold;
		height:40px;
		width: 100%;
	}
	.form-group input {
		color:#fff;
	}
}

.suggestions-container {
	position:absolute;
	z-index: 1;
	margin: 0 17%;
	width: 66%;
}

form.suggestions {
	margin-top: 125px;
}

form.suggestions .submit-row {
	margin-top: 30px;
	text-align: center;
}
